.create {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Times New Roman', Times, serif
}

.create h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.create label {
  display: block;
  margin: 12px 0 6px;
  font-weight: 600;
  color: #444;
}

.create input,
.create textarea {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.create input:focus,
.create textarea:focus {
  border-color: #007bff;
  outline: none;
}

.create textarea {
  resize: vertical;
  min-height: 100px;
}

.create button {
  margin-top: 20px;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.create button:first-of-type {
  background-color: #6c757d;
  color: white;
}

.create button:first-of-type:hover {
  background-color: #5a6268;
}

.create button:last-of-type {
  background-color: #007bff;
  color: white;
}

.create button:last-of-type:hover {
  background-color: #0056b3;
}


.add-school-btn {
  margin-top: 20px;
  margin-left: 20px;

  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.add-school-btn:first-of-type {
  background-color: #6c757d;
  color: white;
}

.add-school-btn:first-of-type:hover {
  background-color: #5a6268;
}

.add-school-btn:last-of-type {
  background-color: #007bff;
  color: white;
}

.add-school-btn:last-of-type:hover {
  background-color: #0056b3;
}