*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #323a46;
    height: 127.8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
}
.logoMuls{
    width: 89px;
    margin-left: 30px;
}

.nav-link{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.nav-link:hover{
    color: #f9dd0d;
}
.nav-link:active {
  color: plum;
  background-color: transparent;
  text-decoration: underline;
}
.login{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    padding: 10px;
    color: #323a46;
    background-color: #f9dd0d;
}
.elselt-dropdown-btn{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 30px;
    color: white;
    /* background-color: #323a46; */
    padding: 0;
    border: none;

}
.elselt-dropdown-btn:hover{
    background-color: #323a46;
    color: #f9dd0d;
    border: none;
}

.elselt-dropdown{
    padding: 15px;
    background-color: rgb(44, 43, 102);
    color: white;
    font-weight: 800;

}