*{
    margin: 0;
    padding: 0;

}
.container1{
    background-color:	rgba(50,58,70,0.6);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    height: 200px;
    /* width: 100%; */

}
.news, .enroll-date{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
        align-content: space-between;

}
.enroll-date{
    font-weight: bold;
}
.btn-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 55px;
    list-style: none;
    align-items: center;
    /* align-content: space-between; */

    /* height: 100%; */
}
.btn-1, .btn-2, .btn-3{
    text-decoration: none;
    list-style: none;
    color: #323a46;
    background-color: white;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 15px
}
.btn-2{
    background-color: #f9dd0d;
}
